button:hover {
  opacity: 0.5;
}

.interessen-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
  //background: red;
}

.interessen-margin {
  margin: 0 30px;
}

.box-create {
  width: 100%;
  //background: red;
}

.element-create {
  width: 50%;
  //background: blue;
}

.userInputField {
  width: 100%;
}
