@use '~angular-calendar/scss/angular-calendar';
@use './app/sass/colors';

:root {
  --background-color: var(--bluesky);
  --gradient: url('/assets/img/gradientBlueSky.webp');
}

.hs-nav {
  background-color: #303030;
  //background-image: var(--gradient);
  //background-position: left top;
  //background-repeat: repeat-x;
  height: 90px;
  width: 100%;
}

.hs-loading-text {
  background-color: #303030;
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
